<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>欧丽壁布</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
    <style>
        .errorlist {
            color: red;
        }
    </style>
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div class="flex-center">
            <div class="unit-1-2 unit-1-on-mobile">
                <h1><a>欧 丽 壁 布</a></h1>
                <h3>西安经销部</h3>
                <h4>联系方式：13720586809</h4>
                <h4>地址：西安北大明宫批发市场B区17</h4>
                <h4>技术支持：状元街</h4>
                <form class="form" action="{% url 'wechat:douyin' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-block">打开抖音官方账号</button>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>
                <div class="flex-center top-gap text-small">
                    <a>2022 6.21</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>