<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>欧丽壁布</title>
    <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">
    <style>
        .errorlist {
            color: red;
        }
    </style>
</head>
<body>
<div class="flex-center">
    <div class="container">
        <div class="flex-center">
            <div class="unit-1-2 unit-1-on-mobile">
                <h1><a>欧 丽 壁 布</a></h1>
                <h3>西安经销部</h3>
                <h4>联系方式：13720410311</h4>
                <h4>地址：西安北大明宫批发市场B区17</h4>
                <h4>技术支持：状元街</h4>
                <form class="form" action="{% url 'wechat:douyin' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-block">打开抖音官方账号</button>
                    <input type="hidden" name="next" value="{{ next }}"/>
                </form>
                <div class="flex-center top-gap text-small">
                    <a>2022 6.21</a>
                </div>
            </div>
        </div>
    </div>
</div>
<footer id="site-footer">
<div id="footer1">
  <div style="width:300px;margin:0 auto; padding:20px 0;">
    <a target="_blank" href="http://beian.miit.gov.cn/" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;">
    <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">Copyright © 2022 状元街  zhuangyuanjie.cn All Rights Reserved. 备案号：陕ICP备2021009937号-1</p></a>
  </div>
</div>
</footer>
</body>
</html>